
<div class="row">
  <div class="col-md-4">
    <form #formData="ngForm"  novalidate>
      <!-- NationalId
      Name
      Gender
      Date
      DoctorId
      From
      To -->

      <div class="form-group">
        <label for="exampleInputEmail1">National ID</label>
        <input type="text" class="form-control" ngModel name="NationalId">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" ngModel name="Name">
      </div>
      
      <div class="form-group">
        <label for="exampleInputEmail1">Gender</label>
        <select class="form-control" ngModel name="Gender">
            <option value="1">Male</option>
            <option value="0">Female</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="exampleInputEmail1">Doctor</label>
        <select class="form-control" ngModel name="doctorId" #doctorId (change)="getDoctorFreeAppoinment(doctorId ,Resdate)">
            <option value="0">Select Doctor</option>
            <option *ngFor="let doctor of doctors" value="{{doctor.DoctorId}}">{{doctor.Name}}</option>
        </select>
      </div>

      
      <div class="form-group">
        <label for="exampleInputEmail1">Date</label>
        <input type="date" #Resdate class="form-control" ngModel name="Date"  min="{{myDate |  date:'yyyy-MM-dd' }}"  (change)="getDoctorFreeAppoinment(doctorId ,Resdate)">
      </div>

      
      <div class="form-group">
        <label for="exampleInputEmail1">From</label>
        <select class="form-control" ngModel name="From" #slot (change)="selectTime(slot.value)">
          <option value="0" disabled>Select Time</option>
          <option *ngFor="let slot of slots" value="{{slot}}">{{slot}}</option>
        </select>
      </div>

      
      <div class="form-group">
        <label for="exampleInputEmail1">To</label>
        <input type="text" class="form-control" value="{{totime}}" ngModel name="To" disabled="disabled">
      </div>

      
      <button type="submit" class="btn btn-primary" (click)="reservation(formData.value)">Submit</button>
    </form>
  </div>
  <div class="col-md-8">
    <!-- <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Doctor</th>
          <th scope="col">Reservation Date</th>
          <th scope="col">Reservation Time From</th>
          <th scope="col">Reservation Time To</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Reservation of Reservations['$values']">
          <th scope="row">{{Reservation['$id']}}</th>
          <td>{{Reservation['patient']}}</td>
          <td>{{Reservation['doctor']}}</td>
          <td>{{Reservation['Date']}}</td>
          <td>{{Reservation['From']}}</td>
          <td>{{Reservation['To']}}</td>
        </tr>
        
      </tbody>
    </table> -->
    <div class="row">
      <div  *ngFor="let Reservation of Reservations['$values']" class="col-md-3 reservation">
        <div>Patient: {{Reservation['patient']}}</div>
        <div>Doctor: {{Reservation['doctor']}}</div>
        <div>Date: {{Reservation['Date']}}</div>
        <div>From: {{Reservation['From']}}</div>
        <div>To: {{Reservation['To']}}</div>
      </div>
    </div>
  </div>
</div> 
